node_modules
*/node_modules
dist
*/dist
.env
*/.env
.env.e2e
*/.env.e2e
credentials.txt
*/credentials.txt
.git
.gitignore
.github
.vscode
*.md
!DEPLOYMENT.md
uploads/*
!uploads/.gitkeep
e2e
mobile
client
.turbo
.DS_Store
